* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(./assets/images/heroImg.jpg);
  background-size: cover;
  background-attachment: fixed;
}